/* CSS files --> abilities.html */
body{
    background-color: #ddd4b5;
}
.table-menu{
    width:100%; 
    text-align: center;
    background-color: rgb(199, 170, 131);
} 
h1{
    text-align: center; 
    font-family: Courier New;
    background-color: #aa6c54;
} 
h4{
    text-align: center; 
    font-family: Courier New; 
    font-weight: normal;
}
h5{ 
    text-align: center; 
    font-family: Courier New; 
    font-weight: normal;
}
h2{ 
    text-align: center;
    background-color: #c09945;
} 
.table-skills{
    margin-left: auto; 
    margin-right: auto; 
    background-color: #ffffff;
}